body{
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #6b15a1;}

.navbar-inverse{
    background-color: white;
    border: none;
}
.navbar-inverse .navbar-nav > li > a {
color: #999;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse
.navbar-nav > li > a:focus {

    color: #6b15a1;
}
.navbar-inverse .navbar-brand {
    color: #999;}

span{
    color: #6b15a1;
}
a:hover span {
    color: #999;
}
.btn-success {
    color: white;
    background-color: #6b15a1;
    border: none;
}